@using ToDoDDD.DAL.Entitities;

@model IEnumerable<Status>
@{
    ViewData["Title"]="Список статусов";
}
<p>
    <a asp-action="Create">Создать статус</a>
</p>

<table class="table">
    <tr>
        
        <td>Name</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            
            <td>@item.Name</td>
        </tr>
    }
</table>